<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/site.css">
  </head>

  <body>
      {{{body}}}   <!--all your other pages will be loaded into your "body" layout here -->
  </body>

</html>