<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Fibonacci & Prime Number Checker</title>
    <link rel="stylesheet" href="/public/css/main.css">
  </head>

  <body>
      <header>
        <h1>Fibonacci & Prime Number Checker</h1>
      </header>
    
      {{{body}}}   <!--all your other pages will be loaded into your "body" layout here -->

      <br>
      <br>
      <footer>
        <p>Songhan Yu</p>
        <p>CWID: 10470449</p>
        <p>lab9 - cs546</p>
      </footer>

      <script src="/public/js/form.js"></script>  <!-- client side javascript file -->
  </body>

</html>